*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    background-color:silver;
    /* position: fixed; */
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: auto;
    max-width: 1350px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
}
.about>select{
    border: none;
    background-color: silver;
    font-size: medium;
    text-transform: uppercase;

}
.btn{
    padding: 14px 30px;
    border-radius: 6px;
    background-color: silver;
    color: khaki;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: medium;
}
.btn1{
    padding: 14px 35px;
    border-radius: 6px;
    background-color: crimson;
    color: white;
    cursor: pointer;
    text-transform: uppercase; 
    font-weight: 500;
    font-size: medium;
}
.gbtn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}
.your{
    display: flex;
    margin: auto;
    width: 1300px;
    min-height: 670px;
}
.sales>img{
 width: 550px;
}
.sales>h1{
    font-size:70px;
    font-weight: 600;
    color: white;
}
.sales>p{
    font-size: 28px;
    font-weight: 400;
    color: white;  
}
.sales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 50px;
}
.you>img{
    width: 300px;
    padding: 30px 15px;
    height: 900px;
}
.tell>input{
    font-size: medium;
    font-weight: 600;
    padding: 10px 0px;
    margin-top: 25px;
    width: 360px;
    border-radius: 9px;
    border: none;
}
.tell>select{
    font-size: medium;
    font-weight: 600;
    padding: 10px 0px;
    margin-top: 25px;
    width: 360px;

}
.tel>input{
    font-size: small;
    font-weight: 500;
    margin-top: 25px;
    width: 360px; 
    height: 100px;
    padding: 0px 11px;
    

}
.btn3{
    text-transform: uppercase;
    padding: 20px 50px;
    cursor: pointer;
    background-color: firebrick;
    color: white;
    border-radius: 9px;
    width: 360px;
    height: 70px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 50px 0px;
    margin-top: 109px;
    
}
.form>h3{
    font-size: 21px;
    font-weight: 600;
    color: white;
}
.in{
    padding: 30px 40px;
    text-align: center;
    background-color:darkorange;
    height: 120px;
}
.in>h2{
    font-size:35px;
    font-weight: 300;
    color: white;   
}
.free{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.free>h1{
    font-size:55px;
    font-weight: 700;
    color: cornflowerblue;
}
.free>h2{
    font-size:57px;
    font-weight: 700;
    color: darkslategrey;
}
.stra{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    gap: 40px;
    margin-top: 50px;
}