*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    background-color:silver;
    /* position: fixed; */
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: auto;
    max-width: 1350px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
}
.about>select{
    border: none;
    background-color: silver;
    font-size: medium;
    text-transform: uppercase;

}
.btn{
    padding: 14px 30px;
    border-radius: 6px;
    background-color: silver;
    color: khaki;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: medium;
}
.btn1{
    padding: 14px 35px;
    border-radius: 6px;
    background-color: crimson;
    color: white;
    cursor: pointer;
    text-transform: uppercase; 
    font-weight: 500;
    font-size: medium;
}
.gbtn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}
.your{
    background-color: darkslategrey;
    display: flex;
    margin: auto;
    width: 1300px;
    min-height: 670px;
}
.sales>img{
 width: 550px;
}
.sales>h1{
    font-size: xx-large;
    font-weight: 700;
    color: white;
}
.sales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.you>img{
    width: 300px;
    padding: 30px 25px;
}
.tell>input{
    font-size: medium;
    font-weight: 600;
    padding: 10px 0px;
    margin-top: 15px;
}
.tell>select{
    font-size: medium;
    font-weight: 600;
    padding: 20px 0px;
    margin-top: 15px;

}
.btn3{
    text-transform: uppercase;
    padding: 20px 50px;
    cursor: pointer;
    background-color: firebrick;
    color: white;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
