*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    background-color:silver;
    /* position: fixed; */
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: auto;
    max-width: 1350px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
}
.about>select{
    border: none;
    background-color: silver;
    font-size: medium;
    text-transform: uppercase;

}
.btn{
    padding: 14px 30px;
    border-radius: 6px;
    background-color: silver;
    color: khaki;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: medium;
}
.btn1{
    padding: 14px 35px;
    border-radius: 6px;
    background-color: crimson;
    color: white;
    cursor: pointer;
    text-transform: uppercase; 
    font-weight: 500;
    font-size: medium;
}
.gbtn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}
